.components-panel-wp {
  position: relative;
  flex: none;
  z-index: 6;
  width: var(--schema-comps-width);
  height: 100%;
  background: var(--schema-color-bg);
    border-right: 1px solid #000;
  user-select: none;
  .components-panel {
    z-index: 9;
    display: flex;
    width: var(--schema-comps-width);
    height: 100%;
    transition: .2s ease;
    flex-direction: column;
    flex: auto;
    .panel-title {
      position: relative;
      user-select: none;
      text-align: center;
      height: 30px;
      padding: 10px;
      background: var(--schema-color-bg-light);
      border-right: 1px solid var(--schema-color-bg-deep);
    }
  }
  .components-panel-content {
    width: 100%;
    height: calc(100% - 30px);
    .components-type {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      .components-item {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .2s;
        .com-tab-icon {
          font-size: 20px;
          color: var(--bin-color-text-secondary);
        }
        .com-tab-title {
          text-align: center;
          opacity: 1;
          font-size: 12px;
          line-height: 18px;
        }
        &:hover {
          color: var(--bin-color-primary);
          background: var(--schema-color-bg-dark);
        }
        &.active {
          color: var(--bin-color-primary);
          .com-tab-icon {
            color: var(--bin-color-primary);
          }
          background: #17191c;
        }
      }
    }
  }
  .components-list-top {
    position: relative;
    height: 30px;
    line-height: 30px;
    background: var(--schema-color-bg-light);
    user-select: none;
    .action {
      position: absolute;
      top: 0;
      right: 1px;
      letter-spacing: 4px;
      > i {
        text-indent: 0;
        cursor: pointer;
        transition: color 0.2s;
        width: 20px;
        height: 30px;
        display: inline-block;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .components-list-content {
    height: calc(100% - 30px);
  }
  .components-list {
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translateX(100%);    
    background: var(--schema-color-bg-dark);
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    opacity: 1;
    transition: .2s;
    overflow: auto;
    &.is-hide {
      opacity: 0;
      transform: translateX(-50px);
    }
      }
}
