.schema-screen-container {
  .header-container {
    width: 100%;
    height: 40px;
    background-color: var(--schema-color-bg);
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 8px;
    .head-btn {
      width: 40px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      cursor: pointer;
      background: var(--schema-color-bg-light);
      box-shadow: var(--schema-border-shadow);
      color: var(--bin-color-white);
      transition: 0.2s;
      > i {
        font-size: 16px;
      }
      &:hover {
        background: var(--schema-color-hover);
      }
      &.active {
        background: var(--bin-color-primary);
      }
      .com-list-icon {
        &.is-rotate {
          animation: com-rotate 2s infinite;
          animation-direction: alternate-reverse;
        }
      }
    }
    .left-actions, .global-actions {
      height: 24px;
      display: flex;
    }
    .left-actions {
      padding-left: 8px;
      .back-icon {
        height: 24px;
        > i {
          position: relative;
          top: 1px;
          cursor: pointer;
          margin: 0 10px;
          font-size: 18px;
        }
      }
    }
    .screen-info {
      position: absolute;
      left: 50%;
      top: 0;
      display: flex;
      align-items: center;
      transform: translateX(-50%);
      text-align: center;
      cursor: default;
      height: 40px;
      font-size: var(--schema-font-size14);
      > i {
        font-size: 18px;
        margin-right: 8px;
      }
      .header-input {
        background-color: transparent;
        height: 22px;
        width: auto;
        min-width: 30px;
        max-width: 240px;
        border: 1px solid transparent;
        border-radius: 0;
        line-height: 20px;
        padding: 4px 6px;
        outline: none;
        &:focus, &:active, &:focus-visible {
          border: 1px solid var(--bin-color-primary);
        }
      }
    }
    .global-actions {
      justify-content: flex-end;
      align-items: center;
    }
  }
}
@keyframes com-rotate {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
