.bi-screen-container {
  // 全局覆盖样式
  .bin-dropdown__popper.bin-popper[role=tooltip] {
    background-color: #0b1532;
  }
  .bin-dropdown-menu .bin-dropdown-item {
    color: #ced0d6
    &:hover {
      background: #2f3a5b;
    }
  }

  // 覆盖收起容器
  .bin-collapse-simple {
    background-color: transparent;
    border: none;
    .bin-collapse-item {
      border: none;
    }
    .bin-collapse-header {
      padding: 0 6px;
      height: 38px;
      line-height: 38px;
      color: rgba(255, 255, 255, .85);
      font-size: 12px;
      border: none !important;
      > i.b-icon-right {
        color: rgba(255, 255, 255, .45);
        font-size: 12px;
      }
    }
    .bin-collapse-content {
      background-color: $bg-color-2;
      padding: 0 12px;
      color: $text-color;
      .bin-collapse-content-box {
        font-size: 12px;
      }
    }
  }

  // 分割面板
  .bin-splitter-container {
    &.is-active .bin-splitter-pane-resizer, .bin-splitter-pane-resizer {
      background-color: hsla(0, 0%, 100%, .1);
    }
  }
  .bin-tree {
    color: $text-color;
    .bin-tree-arrow {
      width: 20px;
      height: 20px;
      line-height: 20px;
      .b-icon-caret-right {
        color: $text-color;
      }
    }
    .bin-tree-node-children {
      padding-left: 10px;
    }

    .bin-tree-render-title {
      .D > i {
        color: #468cff;
      }
      .M > i {
        color: #52c41a;
      }
      &:hover .setting-action {
        display: block;
      }
    }
    .bin-tree-title, .bin-tree-render-title {
      line-height: 18px;
      border: 1px solid transparent;
      &.is-selected, &:hover {
        background: rgba(118, 150, 202, .1);
        border: 1px solid #468cff;
      }
    }
  }

  input {
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
