@import "schema-var.styl"

// 数据配置面板
.setting-content {
  &.schema-setting-content {
    .setting-data-panel {
      margin: 0 -8px;
      height: 100%;
      display: flex;
      .data-config-left, .data-config-right {
        width: 50%;
        font-size: 12px;
        height: 100%;
      }
      .data-config-left {
        position: relative;
        border-right: 1px solid hsla(0, 0%, 100%, .1);
      }
      .data-config-right {
        padding: 0 6px;
        height: 100%;
        font-size: 12px;
        .tree-box {
          padding: 5px 0;
          height: 100%;
          overflow-y: auto;
        }
      }
    }

    .edit-item-title {
      font-size: 12px;
      line-height: 28px;
      max-height: 28px;
      font-weight: 400;
      margin-right: 8px;
    }

  }
  // 数据配置样式
  .config-data-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .config-data-panel {
      height: calc(100% - 72px);
      overflow-x: hidden;
      overflow-y: auto;
      .config-data-item {
        position: relative;
        margin: 0 5px;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
        padding-bottom: 12px;
        .area-name {
          color: #fff;
          white-space: nowrap;
          word-break: keep-all;
          height: 42px;
          line-height: 42px;
        }
        .column-list {
          min-height: 28px;
          overflow-y: hidden;
          overflow-x: hidden;
          background: hsla(0, 0%, 100%, .1);
          border: 1px dashed hsla(0, 0%, 100%, .2);
        }
        .no-column-tip {
          position: absolute;
          top: 50px;
          left: 0;
          width: 100%;
          text-align: center;
          color: hsla(0, 0%, 100%, .4);
          span {
            display: block;
            height: 12px;
            line-height: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    .bottom-menus {
      .preview-panel {
        width: 100%;
        height: 33px;
        border-top: 1px solid hsla(0, 0%, 100%, .1);
        background: #2b3551;
        display: flex;
        align-items: center;
        justify-content: center;
        .preview-label {
          width: 60px;
          color: #fff;
          line-height: 20px;
          padding-left: 5px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .form-input {
          width: 50px;
          padding: 0 6px;
          margin-left: 3px;
          line-height: 1;
          background: hsla(0, 0%, 100%, .1);
          color: #fff;
          border: none;
          &:focus {
            box-shadow: 0 0 2px 1px #3a79a7;
            outline: none;
          }
        }
      }
      .refresh-panel button {
        height: 38px;
        line-height: 38px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        width: 100%;
        background: #2153d4;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
