.schema-screen-container {
  position: relative;
  min-width: 1200px;
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  font-size: var(--schema-font-size);
  color: var(--schema-font-color);
  .full-wrapper {
    width: 100%;
    background: var(--schema-color-bg-dark);
    height: calc(100% - 40px);
  }
  .editor-main-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: url('@/assets/images/schema/bg-canvas.png');
    flex-wrap: nowrap;
    height: calc(100% - 40px);
  }

}
