[data-schema=datav-dark] {
  --bin-base-font-size: 12px;
  --bin-border-base-radius: 0;
  --bin-color-text-default: #fff;
  --bin-color-text-secondary: #C0C4CC;
  --bin-border-table: 1px solid #1d2126;
  --bin-border-table-color: #1d2126;

  --schema-font-size: 12px;
  --schema-font-size14: 14px;
  --schema-font-color: #bcc9d4;
  --schema-color-bg-deep: #14161a;
  --schema-color-bg-dark: #1d2126;
  --schema-color-bg: #222528;
  --schema-color-border: #282f3a;
  --schema-color-bg-light: #2e343c;
  --schema-color-hover: #414750;
  --schema-border-shadow: inset 0 0 0 1px rgba(255, 235, 235, .1), 0 0 0 1px #181818;
  --schema-layer-width: 220px;
  --schema-comps-width: 50px;
  --schema-options-width: 332px;
  --schema-ui-color: #5c6366;
  --schema-ui-bg: #262c33;
  --schema-ui-border: #0b0c0d;
}
