html, body {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  color: #515a6e;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  cursor: pointer;
  color: getColor();
  text-decoration: none;
}
a:focus, a:hover {
  color: getHover();
}
#app {
  min-height: 100%;
}

a:active, a:focus, button, div, span, svg {
  outline: 0 !important;
}

/* webkit, opera, IE9 */
::selection {
  background: getColor();
  color: #fff;
}
/* mozilla firefox */
::-moz-selection {
  background: getColor();
  color: #fff;
}
