// 所有颜色取值应统一写在此函数中，否则会存在很多定义变量的位置，不利于维护
getActive() {
  var(--primary-active-color)
}
getColor() {
  var(--primary-color)
}
getHover() {
  var(--primary-hover-color)
}
getLighten3() {
  var(--primary-lighten3-color)
}

getLighten5() {
  var(--primary-lighten5-color)
}

getLightenHover() {
  var(--primary-lighten-hover-color)
}

getShadow() {
  var(--primary-shadow-color)
}
getLightenShadow() {
  var(--primary-lighten-shadow-color)
}
getLightenHover() {
  var(--primary-lighten-hover-color)
}

getMenuBg() {
  var(--menu-bg-color)
}
getMenuBgActive() {
  var(--menu-bg-active-color)
}
