// 所有颜色取值应统一写在此函数中，否则会存在很多定义变量的位置，不利于维护
getActive() {
  var(--bin-color-primary-active)
}
getColor() {
  var(--bin-color-primary)
}
getHover() {
  var(--bin-color-primary-light1)
}
getLighten3() {
  var(--bin-color-primary-light3)
}

getLighten5() {
  var(--bin-color-primary-light5)
}

getLightenHover() {
  var(--bin-color-primary-light6)
}

getShadow() {
  var(--bin-color-input-shadow)
}
getLightenHover() {
  var(--bin-color-primary-light6)
}

getMenuBg() {
  var(--menu-bg-color)
}
getMenuBgActive() {
  var(--menu-bg-active-color)
}
