$color-text-primary = #17233d;
$color-text-default = #515a6e;
$color-text-secondary = #808695;
$color-text-disabled = #c5c8ce;
$color-text-placeholder = #C0C4CC;
$color-text-white-disable = rgba(255, 255, 255, .45);
$color-text-white-light = rgba(255, 255, 255, .75);
$color-text-white = #ffffff;

// border
$border-base = 1px solid #f0f0f0;
$cube-base-border = 1px solid #dcdbde;
$cube-base-border-light = 1px solid #d8d8d8;

// schema
$color-bg = #1d1e1f;
$color-primary = #0e7be6;
$color-success = #52c41a;
$color-warning = #fa8c16;
$color-danger = #f5222d;
