[data-schema=datav-dark] {
  .bin-button--default {
    border: 1px solid var(--schema-ui-border);
    color: #a1aeb3;
    background: var(--schema-ui-bg);
    font-size: 12px;
    &:hover {
      background: var(--schema-color-bg-light);
      color: var(--bin-color-primary);
    }
    &:active {
      background: var(--schema-color-bg);
    }
  }
}
