[data-schema=datav-dark] {
  .bin-button--default {
    border: 1px solid var(--schema-ui-border);
    color: #a1aeb3;
    background: var(--schema-ui-bg);
    font-size: 12px;
    &:hover {
      background: var(--schema-color-bg-light);
      color: var(--bin-color-primary);
    }
    &:active {
      background: var(--schema-color-bg);
    }
    &.is-disabled {
      background: var(--schema-color-bg-disabled);
      border-color: var(--schema-ui-border);
      color: #86898f;
    }
    .iconfont-align {
      position: relative;
      top: 1px;
      line-height: 1;
    }
  }
  .bin-button--primary {
    border: 1px solid var(--schema-ui-border);
    &:hover {
      border: 1px solid var(--schema-ui-border);
    }
    &.is-disabled {
      background: var(--bin-color-primary-light3);
    }
  }
}
