[data-schema=datav-dark] {
  // 覆盖收起容器
  .bin-collapse-simple {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--schema-color-border);
    .bin-collapse-item.bin-collapse-item-active > .bin-collapse-header {
      border-bottom: 1px solid var(--schema-color-border);
    }
    .bin-collapse-header {
      padding: 0 16px;
      height: 38px;
      line-height: 38px;
      color: rgba(255, 255, 255, .85);
      font-size: 12px;
      > i.b-icon-right {
        position: absolute;
        right: 0;
        color: rgba(255, 255, 255, .45);
        font-size: 12px;
      }
    }
    .bin-collapse-content {
      background-color: var(--schema-color-bg-deep);
      padding: 0;
      color: var(--schema-font-color);
      .bin-collapse-content-box {
        font-size: 12px;
        padding: 0;
        line-height: 1.5;
      }
    }
    > .bin-collapse-item {
      border-top: 1px solid var(--schema-color-border);
    }
  }
}
