[data-schema=datav-dark] {
  .bin-color-picker {
    .bin-color-picker__trigger {
      border: none;
      padding: 4px;
    }
  }
  .bin-popper {
    padding: 4px 6px;
    font-size: var(--schema-font-size);
    &.bin-color-picker__panel {
      min-width: 20px;
      background: var(--schema-ui-bg) !important;
      color: var(--bin-color-white) !important;
      border: 1px solid var(--schema-ui-border) !important;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    }
  }
}
