[data-schema=datav-dark] {
  .bin-input:focus, .bin-form-item.is-error .bin-input:focus {
    box-shadow: none;
  }
  .bin-input {
    font-family: Arial;
    color: #fff;
    border-radius: 0;
    padding: 0 8px 0 8px;
    background-color: var(--schema-ui-bg);
    border: 1px solid var(--schema-ui-border);
    box-shadow: none;
    font-weight: normal;
    font-size: 12px;
    &:hover, &:focus {
      border-color: var(--bin-color-primary);
    }
    &.bin-input-with-prefix {
      padding-left: 26px;
    }
    &.bin-input-with-suffix {
      padding-right: 26px;
    }
  }
  .bin-input-number {
    color: var(--schema-font-color);
    background-color: var(--schema-ui-bg);
    border: 1px solid var(--schema-ui-border);
    box-shadow: none;
    .bin-input-number-input {
      font-family: Arial;
      padding-right: 25px;
      padding-left: 7px;
      color: #fff;
      text-align: left;
      height: 26px;
      line-height: 26px;
      background: var(--schema-ui-bg);
    }
    &:hover, &:focus, &.bin-input-number-focused {
      border-color: var(--bin-color-primary);
    }
    .bin-input-number-handler, .bin-input-number-handler-wrap {
      background-color: var(--schema-ui-bg);
      color: #fff;
      border-color: var(--schema-ui-border);
      &:hover {
        color: var(--bin-color-primary);
        border-color: var(--bin-color-primary);
      }
    }
    .bin-input-number-handler-up-disabled, .bin-input-number-handler-down-disabled {
      &:hover {
        color: #fff;
        border-color: var(--schema-ui-border);
      }
    }
  }
}
