[data-schema=datav-dark] {
  .bin-loading-fix {
    background-color: rgba(23, 27, 34, 0.5);
  }
  .bin-empty-img-simple-path {
    fill: rgba(250, 250, 250, 0.14);
  }
  .bin-empty-img-simple-ellipse {
    fill: rgba(245, 245, 245, 0.1);
  }

  .bin-divider {
    background-color: var(--schema-ui-border);
    .bin-divider-inner-text {
      background-color: var(--schema-ui-border);
      color: #fff;
    }
  }
  // table
  .b-iconfont.b-icon-send {
    transform: rotate(-30deg) translate(2px, -2px);
  }
  .bin-empty {
    margin: 0;
    padding: 8px;
  }
}
