[data-schema=datav-dark] {
  .bin-page {
    .bin-page-item, .bin-page-next, .bin-page-prev {
      background-color: transparent;
      border: none;
    }
    .bin-page-disabled {
      opacity: 0.5;
    }
  }
}
