[data-schema=datav-dark] {
  .bin-popper {
    padding: 4px 6px;
    font-size: var(--schema-font-size);
    &.is-dark {
      background: var(--bin-color-primary);
      color: var(--bin-color-white);
      .bin-popper__arrow::before {
        background: var(--bin-color-primary);
      }
    }
    &.weather-box {
      padding: 8px;
      min-width: 20px;
      background: var(--schema-ui-bg);
      color: var(--bin-color-white);
      border: 1px solid var(--schema-ui-border);
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
      .bin-popper__arrow::before {
        background: var(--schema-ui-bg);
      }
    }
    &.bin-tree-select__popper {
      padding: 5px 0 2px;
      background: var(--schema-color-bg-dark);
      border: 1px solid var(--schema-ui-border);
      .bin-tree {
        color: var(--schema-font-color);
        .bin-tree-title, .bin-tree-render-title {
          &.is-selected, &:hover {
            background: rgba(118, 150, 202, .1);
          }
        }
      }
    }
  }
}
