[data-schema=datav-dark] {
  .bin-select__popper.bin-popper[role=tooltip] {
    padding: 0;
    background: var(--schema-color-bg-dark);
    border: 1px solid var(--schema-ui-border);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    .bin-select-group__title {
      color: #5c6366;
    }
    .bin-select-group__wrap {
      padding-bottom: 12px;
      &:last-child {
        padding-bottom: 0;
      }
      &:not(:last-of-type):after {
        left: 5px;
        right: 5px;
        bottom: 5px;
        background: #5c6366;
      }
    }
    .bin-select-dropdown__item {
      color: var(--schema-font-color);
      &.selected, &:hover {
        background-color: var(--schema-color-bg-deep);
        color: var(--bin-color-primary);
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 1px;
          bottom: 1px;
          width: 2px;
          background-color: var(--bin-color-primary);
        }
      }
      &.selected {
        background: var(--schema-ui-border);
        color: var(--bin-color-primary);
      }
    }
  }

  .bin-select {
    &.bin-select--small {
      .bin-input-suffix {
        .bin-select__caret.b-iconfont.b-icon-down {
          font-size: 12px;
        }
      }
    }
  }
}
