[data-schema=datav-dark] {
  // slider滑动条
  .bin-slider {
    .bin-slider__runway {
      height: 2px;
      margin: 14px 0;
      background-color: #bcc9d4;
      border-radius: 1px;
    }
    .bin-slider__bar {
      height: 2px;
      background: linear-gradient(to right, #74f0ff, #2681ff);
    }
    .bin-slider__button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      top: -9px;
      width: 20px;
      height: 20px;
      .bin-slider__button {
        width: 9px;
        height: 9px;
        &:focus, &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
