[data-schema=datav-dark] {
  .bin-switch {
    border: 1px solid var(--schema-ui-border);
    background-color: var(--schema-ui-bg);
    box-shadow: none;
    &.bin-switch-checked {
      background-color: var(--bin-color-primary);
    }
  }
  .bin-switch--mini {
    display: inline-block;
    .bin-switch {
      width: 16px !important;
      height: 10px;
      line-height: 12px;
      font-size: 12px;
      border: 1px solid #303740;
      &:after {
        content: "";
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
      }
      &.bin-switch-checked {
        &:after {
          left: 7px;
        }
      }
    }
  }
}
