[theme-name='dark'] {
  .bin-checkbox {
    display: inline-flex;
    .bin-checkbox__inner {
      background-color: var(--s-color-3);
      border-color: var(--s-color-3);

      &:after {
        border-color: var(--s-color-3);
      }
    }

    &.is-checked {
      .bin-checkbox__inner:after {
        border-color: var(--bin-color-primary);
      }
    }

    .bin-checkbox__input.is-checked:after {
      animation: none;
    }
  }
  .bin-radio-group-capsule {
    background-color: var(--s-color-1);
    .bin-radio {
      &.is-checked {
        color: var(--s-text-color-1);
        background-color: var(--s-color-1);
      }
      &:not(.is-disabled):hover {
        color: var(--s-text-color-1);
        background-color: var(--s-color-1);
      }
      &:not(:first-of-type):before {
        background-color: var(--s-color-1);
      }
      &.is-disabled .bin-radio__label {
        color: var(--s-text-color-3);
      }
    }
  }
  .bin-radio-group-button {
    .bin-radio {
      background-color: var(--s-color-2);
      border-color: var(--s-color-2);
      color: var(--s-text-color);
      &:not(.is-disabled):hover {
        color: var(--s-text-color-1);
        background-color: var(--s-color-3);
        border-color: var(--s-color-2);
      }
      &.is-checked {
        background-color: var(--s-color-3);
        border-color: var(--s-color-2);
        color: var(--bin-color-primary);
        &:not(.is-disabled):hover {
          color: var(--bin-color-primary);
        }
      }
      &.is-disabled .bin-radio__label {
        color: var(--s-text-color-3);
      }
    }
  }
}
