[theme-name='dark'] {
  .bin-select {
    .bin-input-wrapper {
      .bin-input-with-suffix {
        border-top-left-radius: var(--bin-border-radius-default);
        border-bottom-left-radius: var(--bin-border-radius-default);
      }
    }
  }

  .bin-select__caret {
    &.is-show-close {
      background-color: transparent;
    }
  }

  .bin-select__popper.bin-popper[role='tooltip'] {
    background: var(--bin-bg-color-4);
    box-shadow: 0 0 0 1px var(--schema-ui-border);
    .bin-select-group__title {
      color: var(--s-text-color-2);
    }
    .bin-select-group__wrap {
      padding-bottom: 12px;

      &:last-child {
        padding-bottom: 0;
      }

      &:not(:last-of-type):after {
        left: 5px;
        right: 5px;
        bottom: 5px;
        background: var(--s-color-1);
      }
    }
    .bin-select-dropdown__item {
      color: var(--s-text-color);

      &.selected,
      &:hover {
        background-color: var(--s-color-1);
        color: var(--bin-color-primary);
      }

      &.selected {
        background: var(--bin-color-input-shadow);
      }
    }
  }
}
